<!-- BEGIN share -->
<!-- IF share.S_SHARE_ACTIVE -->
<div id="social_icons" style="float: right; text-align: right; width: auto;">
<!-- IF share.S_FACEBOOK_SHARE -->
<div id="fb-root"></div>
<script>
//<![CDATA[
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/{share.S_FACEBOOK_SHARE_LANG}/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
//]]>
</script>

<div class="fb-like" data-href="{share.U_SHARE_TOPIC_URL}" data-send="{share.S_FACEBOOK_SHARE_SEND}" data-layout="{share.S_FACEBOOK_SHARE_LAYOUT}" data-width="{share.S_FACEBOOK_SHARE_WIDTH}" data-show-faces="{share.S_FACEBOOK_SHARE_FACE}" data-action="{share.S_FACEBOOK_SHARE_ACTION}" data-colorscheme="{share.S_FACEBOOK_SHARE_COLOR}" data-font="{share.S_FACEBOOK_SHARE_FONT}"></div>
<!-- ENDIF -->

<!-- IF share.S_TWITTER_SHARE -->
<script type="text/javascript">
//<![CDATA[
(function() {
	document.write('<a href="http://twitter.com/share" class="twitter-share-button" data-url="{share.U_SHARE_TOPIC_URL}" data-text="{share.SHARE_TOPIC_TITLE}" data-count="{share.S_TWITTER_SHARE_BUTTON}"<!-- IF share.S_TWITTER_SHARE_VIA != '' --> data-via="{share.S_TWITTER_SHARE_VIA}"<!-- ENDIF --> data-lang="{share.S_TWITTER_SHARE_LANG}">Tweet<\/a>');
	var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
	s.type = 'text/javascript';
	s.async = true;
	s.src = '{T_SUPER_TEMPLATE_PATH}/twitter_widgets.js';
	s1.parentNode.insertBefore(s, s1);
})();
//]]>
</script>
<!-- ENDIF -->

<!-- IF share.S_GOOGLE_SHARE -->
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/plusone.js">
//<![CDATA[
	{lang: '{share.S_GOOGLE_SHARE_LANG}'}
//]]>
</script>
<div class="g-plusone" data-size="{share.S_GOOGLE_SHARE_SIZE}" data-annotation="{share.S_GOOGLE_SHARE_COUNT}" data-href="{share.U_SHARE_TOPIC_URL}"></div>
<!-- ENDIF -->

</div>
<!-- ENDIF -->
<!-- END share -->