<!-- IF S_SHARE_PLUS_ENABLE --><div id="social_icons" style="text-align: right;">
<!-- IF S_SHARE_PLUS_FACEBOOK -->
<script type="text/javascript">
//<![CDATA[
(function() {
	document.write('<fb:like data-href="{U_SHARE_TOPIC_URL}" class="fb-like" data-send="{SHARE_PLUS_FACEBOOK_SEND}" data-layout="{SHARE_PLUS_FACEBOOK_LAYOUT}" data-width="{SHARE_PLUS_FACEBOOK_WIDTH}" data-show-faces="{SHARE_PLUS_FACEBOOK_FACE}" data-action="{SHARE_PLUS_FACEBOOK_ACTION}" data-colorscheme="{SHARE_PLUS_FACEBOOK_COLOR}" data-font="{SHARE_PLUS_FACEBOOK_FONT}"><\/fb:like>');
	var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
	s.type = 'text/javascript';
	s.async = true;
	s.src = 'http://connect.facebook.net/{SHARE_PLUS_FACEBOOK_LANG}/all.js#xfbml=1';
	s1.parentNode.insertBefore(s, s1);
})();
//]]>
</script>
<!-- ENDIF -->

<!-- IF S_SHARE_PLUS_TWITTER -->
<script type="text/javascript">
//<![CDATA[
(function() {
	document.write('<a href="http://twitter.com/share" class="twitter-share-button" data-text="{TOPIC_TITLE}" data-count="{SHARE_PLUS_TWITTER_BUTTON}" data-via="{SHARE_PLUS_TWITTER_VIA}" data-lang="{SHARE_PLUS_TWITTER_LANG}">Tweet<\/a>');
	var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
	s.type = 'text/javascript';
	s.async = true;
	s.src = 'http://platform.twitter.com/widgets.js';
	s1.parentNode.insertBefore(s, s1);
})();
//]]>
</script>
<!-- ENDIF -->

<!-- IF S_SHARE_PLUS_GOOGLE -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
//<![CDATA[
	{lang: '{SHARE_PLUS_GOOGLE_LANG}'}
//]]>
</script>
<div id="plusone-div"></div>
<script type="text/javascript">
//<![CDATA[
gapi.plusone.render ('plusone-div', {"size": "{SHARE_PLUS_GOOGLE_SIZE}", "annotation": "{SHARE_PLUS_GOOGLE_COUNT}"});
//]]>
</script>
<!-- ENDIF -->
</div><!-- ENDIF -->