<!-- IF S_SHARE_PLUS_ENABLE --><div id="social_icons" style="float: right;">
<!-- IF S_SHARE_PLUS_FACEBOOK --><div id="fb-root"></div>
<div data-href="{U_SHARE_TOPIC_URL}" class="fb-like" data-send="{SHARE_PLUS_FACEBOOK_SEND}" data-layout="{SHARE_PLUS_FACEBOOK_LAYOUT}" data-width="{SHARE_PLUS_FACEBOOK_WIDTH}" data-show-faces="{SHARE_PLUS_FACEBOOK_FACE}" data-action="{SHARE_PLUS_FACEBOOK_ACTION}" data-colorscheme="{SHARE_PLUS_FACEBOOK_COLOR}" data-font="{SHARE_PLUS_FACEBOOK_FONT}"></div><!-- ENDIF -->

<!-- IF S_SHARE_PLUS_TWITTER --><a href="https://twitter.com/share" class="twitter-share-button" data-text="{TOPIC_TITLE}" data-count="{SHARE_PLUS_TWITTER_BUTTON}" data-via="{SHARE_PLUS_TWITTER_VIA}" data-lang="{SHARE_PLUS_TWITTER_LANG}">Tweet</a><!-- ENDIF -->

<!-- IF S_SHARE_PLUS_GOOGLE --><div class="g-plusone" data-size="{SHARE_PLUS_GOOGLE_SIZE}" data-annotation="{SHARE_PLUS_GOOGLE_COUNT}"></div><!-- ENDIF -->
</div><!-- ENDIF -->