<!-- IF S_SHARE_PLUS_ENABLE -->
<div id="social_icons" style="float: right;">
<!-- IF S_SHARE_PLUS_FACEBOOK -->
<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
(function(d, s, id) {
  document.write('<fb:like href="{U_SHARE_TOPIC}" send="{SHARE_PLUS_FACEBOOK_SEND}" layout="{SHARE_PLUS_FACEBOOK_LAYOUT}" width="{SHARE_PLUS_FACEBOOK_WIDTH}" show_faces="{SHARE_PLUS_FACEBOOK_FACE}" action="{SHARE_PLUS_FACEBOOK_ACTION}" colorscheme="{SHARE_PLUS_FACEBOOK_COLOR}" font="{SHARE_PLUS_FACEBOOK_FONT}"><\/fb:like>');
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{SHARE_PLUS_FACEBOOK_LANG}/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
//]]>
</script>
<!-- ENDIF -->

<!-- IF S_SHARE_PLUS_TWITTER -->
<script type="text/javascript">
//<![CDATA[
(function() {
	document.write('<a href="http://twitter.com/share" class="twitter-share-button" data-url="{U_SHARE_TOPIC}" data-text="{TOPIC_TITLE}" data-count="{SHARE_PLUS_TWITTER_BUTTON}" data-via="{SHARE_PLUS_TWITTER_VIA}" data-lang="{SHARE_PLUS_TWITTER_LANG}">Tweet<\/a>');
	var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
	s.type = 'text/javascript';
	s.async = true;
	s.src = 'http://platform.twitter.com/widgets.js';
	s1.parentNode.insertBefore(s, s1);
})();
//]]>
</script>
<!-- ENDIF -->

<!-- IF S_SHARE_PLUS_GOOGLE -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
//<![CDATA[
	{"lang": "{SHARE_PLUS_GOOGLE_LANG}", "parsetags": "explicit"}
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
gapi.plusone.render
	("plusone",{
		"size": "{SHARE_PLUS_GOOGLE_SIZE}", 
		"annotation": "{SHARE_PLUS_GOOGLE_COUNT}", 
		"url": "{U_SHARE_TOPIC}" 
	});
//]]>
</script>
<div id="plusone"></div>
<!-- ENDIF -->
</div><!-- ENDIF -->